<div class="container-fluid">
  <h1> All posts </h1>
  <% @posts.each do |post| %>
    <div class="post col-xs-12 col-sm-4">
      <!-- <div class="post_image">
        <img src="pics/eagle.jpg">
      </div> -->
      <!-- <div class="icons_under_image">
        <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
        <h4 class="count">99</h4>
        <i class="fa fa-bookmark-o fa-2x pull-right" aria-hidden="true"></i>
      </div> -->
      <div class="post_text">
        <h2><%= link_to post.title, post_path(post) %></h2>
        <p> <%=post.body%></p>
        <a>Post Author Name</a>
        <p>Post Date</p>
      </div>
    </div>
  <% end %>
</div>









<!-- <% @posts.each do |post| %>
<div>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p> <%=post.body%></p>
  <hr>
</div>
<% end %> -->
